<div class="page-header">
  <h1>Durchsagen</h1>
</div>

<p><%= link_to('Neu', {:action => 'new'}, {:class => 'btn btn-primary'}) %></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th><%= t('marketing_call.name') %></th>
    <th><%= t('marketing_call.sound_file') %></th>
    <th><%= t('marketing_call.minutes_pro_call') %></th>
    <th><%= t('marketing_call.play_at') %></th>
    <th><%= t('marketing_call.use_matrix') %></th>
    <th><%= t('marketing_call.matrix') %></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @marketing_calls.each do |call| %>
      <tr>
        <td><%= call.id %></td>
        <td><%= call.name %></td>
        <td><%= call.sound_file %></td>
        <td><%= call.minutes_pro_call %></td>
        <td><%= call.play_at %></td>
        <td><%= call.use_matrix %></td>
        <td><%= call.matrix_str %></td>
        <td>
          <%=  link_to(t('actions.edit'),{:action => 'edit',:id=> call.id},{:class => 'btn btn-primary'}) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>