<div id="content-header">
  <h1>System</h1>
</div>

<div id="breadcrumb">
  <a href="/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Dashboard</a>
  <a href="#" class="current">System</a>
</div>

<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">

      <%= form_tag({:action => 'update'}, {:class => 'form-horizontal'}) do %>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>name</th>
              <th>value</th>
            </tr>
            </thead>
            <tbody>
            <% @settings.each do |setting| %>
                <tr>
                  <td><%= setting.name %></td>
                  <td><input type="text" name="setting[<%= setting.name %>]" value="<%= setting.value %>"></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <%= submit_tag(t('actions.update'), :class => 'btn btn-primary') %>
      <% end %>
    </div>
  </div>
</div>