<div id="content-header">
  <h1><%= t('devise.sign_in') %></h1>
</div>

<div class="container-fluid">

  <div class="row-fluid">
    <div class="span12">
      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
          <div class="inputs">
            <%= f.input :email, :required => false, :autofocus => true, :label => t('devise.email') %>
            <%= f.input :password, :required => false, :label => t('devise.password') %>
            <%= f.input :remember_me, :as => :boolean, :label => t('devise.remember_me') if devise_mapping.rememberable? %>
          </div>

          <div class="actions">
            <%= f.button :submit, t('devise.sign_in') %>
          </div>
      <% end %>

      <%= render :partial => "devise/shared/links" %>
    </div>
  </div>
</div>