<%= link_to "EMITOS", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', new_user_session_path %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% end %>
  <li>
    <%= link_to t('nav.soundfile'),{:action => 'index',:controller => '/soundfile'} %>
  </li>
  <li>
    <%= link_to t('nav.callbox'),{:action => 'index',:controller => '/callbox'} %>
  </li>

  <li>
    <%= link_to t('nav.market_setting'),{:action => 'index',:controller => '/market_setting'} %>
  </li>

  <li>
    <%= link_to t('nav.marketing_calls'),{:action => 'index',:controller => '/marketing_call'} %>
  </li>
</ul>
